In [1]:
import nltk
import pandas as pd
import numpy as np
import re
# pd.options.display.max_colwidth = 100
# nltk.download('omw-1.4')

In [2]:
train = pd.read_csv("data/train_tweet.csv",encoding='latin1')
test = pd.read_csv("data/test_tweet.csv",encoding='latin1')

In [3]:
data_types = train.dtypes

print(data_types)

UserName          int64
ScreenName        int64
Location         object
TweetAt          object
OriginalTweet    object
Sentiment        object
dtype: object

In [4]:
train.columns

Index(['UserName', 'ScreenName', 'Location', 'TweetAt', 'OriginalTweet',
       'Sentiment'],
      dtype='object')

In [5]:
train.isnull().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

In [6]:
test.isnull().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

In [7]:
train = train.dropna(subset=["Location"])
test = test.dropna(subset=["Location"])

In [8]:
import re
import string
import tldextract
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.stem import WordNetLemmatizer

def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Remove URLs, HTML tags, square brackets, backslashes
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text)
    
    # Remove punctuations, numbers, and newlines
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub('\n', '', text)
    
    # Tokenize the text
    tokens = nltk.word_tokenize(text)
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [token for token in tokens if token not in stop_words]
    
   # Perform stemming using Snowball Stemmer
   # stemmer = SnowballStemmer('english')
   # stemmed_tokens = [stemmer.stem(token) for token in tokens]
    
    return ' '.join(tokens)

In [9]:
train['OriginalTweet']  = train['OriginalTweet'].apply(preprocess_text)
test['OriginalTweet']  = test['OriginalTweet'].apply(preprocess_text)

In [10]:
import re


def clean_location(text):
    if isinstance(text, str):
        # Remove non-alphanumeric characters, numbers, and extra spaces
        cleaned_text = re.sub(r'[^a-zA-Z\s]', '', text)
        cleaned_text = re.sub(r'\d+', '', cleaned_text)
        cleaned_text = re.sub(r'\s{2,}', ' ', cleaned_text)
        return cleaned_text.strip()
    else:
        return ''

In [11]:
train['Location'] = train['Location'].apply(clean_location)
test['Location'] = test['Location'].apply(clean_location)

In [12]:
# Remove empty strings
train = train[train['Location'] != '']
train = train[train['OriginalTweet'] != '']

test = test[test['Location'] != '']
test = test[test['OriginalTweet'] != '']

In [12]:
'''
def label_preprocessing(df):
    lab_dict={
        'Extremely Negative': 'negative',
        'Negative': 'negative',
        'Neutral': 'neutral',
        'Positive': 'positive',
        'Extremely Positive': 'positive'
    }
    df['Sentiment']=df['Sentiment'].map(lab_dict)
    
    encoder={'negative': -1, 'neutral': 0, 'positive': 1}
    df['Sentiment']=df['Sentiment'].map(encoder)
    
    return df
'''

"\ndef label_preprocessing(df):\n    lab_dict={\n        'Extremely Negative': 'negative',\n        'Negative': 'negative',\n        'Neutral': 'neutral',\n        'Positive': 'positive',\n        'Extremely Positive': 'positive'\n    }\n    df['Sentiment']=df['Sentiment'].map(lab_dict)\n    \n    encoder={'negative': -1, 'neutral': 0, 'positive': 1}\n    df['Sentiment']=df['Sentiment'].map(encoder)\n    \n    return df\n"

In [13]:
train.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
1,3800,48752,UK,16-03-2020,advice talk neighbours family exchange phone n...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths give elderly ...,Positive
3,3804,48756,T,16-03-2020,news region first confirmed covid case came su...,Positive
4,3806,48758,Austria,16-03-2020,supermarket today buy toilet paper,Neutral
5,3807,48759,Atlanta GA USA,16-03-2020,due covid retail store classroom atlanta open ...,Positive

In [127]:
# test = preprocessing(test)
# test = label_preprocessing(test)

In [14]:
train.isnull().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

In [15]:
test.isnull().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

In [219]:
train.to_csv("train_tweet.csv", index=False)
test.to_csv("test_tweet.csv", index=False)

In [14]:
tweet_data = pd.concat([train, test])
tweet_data.to_csv("tweet_data.csv", index=False)