In [2]:
import nltk
import pandas as pd
import numpy as np
import re
# pd.options.display.max_colwidth = 100
# nltk.download('omw-1.4')

In [3]:
train = pd.read_csv("data/train_tweet.csv",encoding='latin1')
test = pd.read_csv("data/test_tweet.csv",encoding='latin1')

In [4]:
data_types = train.dtypes

print(data_types)

UserName          int64
ScreenName        int64
Location         object
TweetAt          object
OriginalTweet    object
Sentiment        object
dtype: object

In [5]:
train.columns

Index(['UserName', 'ScreenName', 'Location', 'TweetAt', 'OriginalTweet',
       'Sentiment'],
      dtype='object')

In [6]:
train.isnull().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

In [7]:
test.isnull().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

In [8]:
train = train.dropna(subset=["Location"])
test = test.dropna(subset=["Location"])

In [9]:
import re
import nltk

def preprocess(x):
    import re
    # helper functions:
    def remove_hashtags(text): return re.sub(r'#\w*', ' ' , text)
    def remove_mentions(text): return re.sub(r'@\w*', ' ' , text)
    def remove_urls(text): return re.sub(r'https?://\S+', ' ', text)
    def remove_apostrophe(text): return re.sub(r"'s\b", "", text)
    def remove_special_chars(text): return re.sub(r"[^a-zA-Z0-9\s]", ' ', text)
    def remove_numbers(text): return re.sub(r'[\d]', ' ', text)
    def remove_formatting_symbols(text): return re.sub(r"[\r\n]+",'',text)
    def remove_escape_characters(text): return re.sub(r"\\",'',text)
    def remove_extra_spaces(text): return re.sub(r"\s{2,}",' ',text)
    x=x.apply(remove_hashtags)
    x=x.apply(remove_mentions)
    x=x.apply(remove_urls)
    x=x.apply(remove_apostrophe)
    x=x.apply(remove_special_chars)
    x=x.apply(remove_numbers)
    x=x.apply(remove_formatting_symbols)
    x=x.apply(remove_escape_characters)
    x=x.apply(remove_extra_spaces)
    x=x.str.lower()
    return x

In [10]:
train['OriginalTweet']  = preprocess(train['OriginalTweet'])
test['OriginalTweet']  = preprocess(test['OriginalTweet'])

In [11]:
import re


def clean_location(text):
    if isinstance(text, str):
        # Remove non-alphanumeric characters, numbers, and extra spaces
        cleaned_text = re.sub(r'[^a-zA-Z\s]', '', text)
        cleaned_text = re.sub(r'\d+', '', cleaned_text)
        cleaned_text = re.sub(r'\s{2,}', ' ', cleaned_text)
        return cleaned_text.strip()
    else:
        return ''

In [ ]:
train['Location'] = train['Location'].apply(clean_location)
test['Location'] = test['Location'].apply(clean_location)

In [ ]:
# Remove empty strings
train = train[train['Location'] != '']
train = train[train['OriginalTweet'] != '']

test = test[test['Location'] != '']
test = test[test['OriginalTweet'] != '']

In [12]:
'''
def label_preprocessing(df):
    lab_dict={
        'Extremely Negative': 'negative',
        'Negative': 'negative',
        'Neutral': 'neutral',
        'Positive': 'positive',
        'Extremely Positive': 'positive'
    }
    df['Sentiment']=df['Sentiment'].map(lab_dict)
    
    encoder={'negative': -1, 'neutral': 0, 'positive': 1}
    df['Sentiment']=df['Sentiment'].map(encoder)
    
    return df
'''

"\ndef label_preprocessing(df):\n    lab_dict={\n        'Extremely Negative': 'negative',\n        'Negative': 'negative',\n        'Neutral': 'neutral',\n        'Positive': 'positive',\n        'Extremely Positive': 'positive'\n    }\n    df['Sentiment']=df['Sentiment'].map(lab_dict)\n    \n    encoder={'negative': -1, 'neutral': 0, 'positive': 1}\n    df['Sentiment']=df['Sentiment'].map(encoder)\n    \n    return df\n"

In [13]:
train.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,and and,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elder...,Positive
3,3804,48756,T,16-03-2020,as news of the region s first confirmed covid ...,Positive
4,3806,48758,Austria,16-03-2020,was at the supermarket today didn t buy toilet...,Neutral

In [127]:
# test = preprocessing(test)
# test = label_preprocessing(test)

In [14]:
train.isnull().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

In [15]:
test.isnull().sum()

UserName         0
ScreenName       0
Location         0
TweetAt          0
OriginalTweet    0
Sentiment        0
dtype: int64

In [219]:
train.to_csv("train_tweet.csv", index=False)
test.to_csv("test_tweet.csv", index=False)

In [17]:
tweet_data = pd.concat([train, test])
tweet_data.to_csv("tweet_data.csv", index=False)